* {
    margin: 0;
    padding: 0;
}
#navegacao {
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar {
    padding: 30px;
}
.navbar img {
    height: 50px;
}
.navbar-nav li {
    padding: 0 35px;
}
.navbar-nav li a {
    font-size: 18px;
    font-weight: 600;
    float: left;
    text-align: center;
}
iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none; /* Desativa interações com o video */
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 280px;
    z-index: 2;
}
.carousel-caption h5 {
    font-size: 45px;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
}
.carousel-caption a {
    text-decoration: none;
    background: #03588C;
    padding: 5px 20px;
    display: inline-block;
    color: #FFF;
    margin-top: 15px;
    border-radius: 5px;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #03588C, rgba(3,88,140,0.2));
    z-index: 1;
}
.carousel-indicators {
    bottom: 150px;
}