*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
#barra-nav {
    position: sticky; /* fixa a barra no topo */
    top: 0;
    z-index: 10;
}
.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}